---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      /* (what to call each page route) */
      params: { tag },
      /* (data that you want to pass to generated pages) */
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p> This content is dynamically created for each tag key-value pair in function <pre>getStaticPaths()</pre> of file <pre>pages/tags/[tag].astro</pre></p>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost url={'posts' + post.slug} title={post.data.title}/>)}
  </ul>
</BaseLayout>